body 
  {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }
  table 
  {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    font-size: 14px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    background: #ffffffe5;
  }
  th, td {
    border: 1px solid #999;
    padding: 8px 1px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  th {
    background-color: #1fdff5;
    color: black;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
  td:first-child {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
    padding-left: 12px;
    white-space: nowrap;
  }
  .pink {
    background-color: #e4b8b8;
  }
  .yellow {
    background-color: #f3e189;
  }
  .lightyellow {
    background-color: #f7ebc0;
  }